<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/Admin/Login/css/main.css">
    <link rel="stylesheet" href="~/Admin/Login/css/bootstrap.css">
    <script src="~/Admin/Login/js/bootstrap.js"></script>
    <script src="~/Admin/Login/js/jquery-3.6.1.js"></script>
    <script src="~/Admin/Login/js/jquery-ui.js"></script>
</head>
<body>
    <section class="section-login">
        <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4"></div>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4 form-background">
            <h3>LOGIN NOW</h3>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <form name="loginForm" method="post" action="/Admin/Account/LoginPost">
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12 form-item">
                                <input type="text" name="email" required class="form-control" placeholder="Username: ">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12 form-item">
                                <input type="password"  name="password" required class="form-control" placeholder="Password: ">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-md-6 col-lg-6 form-item">
                                <input type="checkbox" name="remember-me"> Remember Me!
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 resetpassword">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12 form-item" style="text-align: center;">
                                <input type="submit" name="submit" class="btn btn-info" value="LOGIN">
                            </div>
                        </div>

                        <div class="form-group user-register">
                            <div class="col-sm-12 col-md-12 col-lg-12 form-item">
                                <br>Don't Have an Account ?
                                <a href="#">Register an account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>    
</body>
</html>