.bread-crumb{
    margin-bottom: 20px;
}
.menu-con{
    display: flex;
    margin: 0;
    font-size: 14px;
    padding: 15px 0;
    border-radius: 0;
    text-align: left;
}
.menu-con li>a{
    text-decoration: none;
    color: #000;
}
.menu-con li i{
    padding: 0px 5px;
}
.menu-con li strong{
    color: #ff9897;
    font-weight: 400;
    text-decoration: none;
}
.main-content .news-title h1{
    margin: 0;
    font-size: 28px;
    margin-bottom: 25px;
}
/* news-content */
.content-news {
    margin-bottom: 40px;
}
.content-news .product-img img{
    width: 409px !important;
    height: 273px !important;
}
.product-cmt { 
    margin-top: 20px;
}
    .product-cmt p {
        margin: 0;
        margin-top: 12px;
        color: #707070;
        border-top: 1px solid #ebebeb;
        font-size: 14px;
        padding-top: 15px;
    }
/* menu-right */
.menu-right .aside-title h2{
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    margin-bottom: 20px;
}
.menu-right ul{
    padding: 0;
}
.menu-right ul li{
    padding: 5px 0px;
}
.menu-right li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
.menu-right li a:hover{
    color: #ff9897;
}
/* Tin tức nổi bật */
.title{
    text-decoration: none;
    color: #000;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}
.title:hover{
    color: #ff9897;
}
.aside-title1{
    margin-top: 40px;
}
.product-list{
    display: flex !important;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0px !important;
}
.thumb-left img{
    max-width:none;
}
.name-right{
    margin-left: 20px;
}
.name-right h3{
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
.name-right a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
}
.name-right a:hover{
    color: #ff9897;
}
.product-list:last-child{
    border-bottom-width: 0px;
}