@{
    Layout = "~/Views/Shared/Layout1.cshtml";
}
<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="menu-con">
                    <li class="home">
                        <a href="/Home">Trang chủ</a>
                        <span>
                            &nbsp;
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            &nbsp;
                        </span>
                    </li>
                    <li>
                        <strong>
                            <span>Liên hệ</span>
                        </strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="page-contact">
    <div class="container">
        <div class="row">
            <div class="select-maps col-md-4">
                <div class="contact-right">
                    <ul class="contact">
                        <li class="li-footer-h">
                            <span class="txt-content">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                DevPro Vietnam, Ngõ 65 P. Mai Dịch, Mai Dịch, Cầu Giấy, Hà Nội
                            </span>
                        </li>
                        <li class="li-footer-h">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="#">19006750</a>
                        </li>
                        <li class="li-footer-h">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <a href="#">coolteam@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="page-login">
                    <h1 class="title-contact">
                        <span>Liên hệ với chúng tôi</span>
                    </h1>
                    <div class="page-input">
                        <form action="">
                            <div class="form-signup">
                                <div class="row group-contact">
                                    <fieldset class="form-group col-md-12">
                                        <input type="text" placeholder="Họ và tên" class="form-control form-control-lg">
                                    </fieldset>
                                    <fieldset class="form-group col-md-12">
                                        <input type="email" placeholder="Email" class="form-control form-control-lg">
                                    </fieldset>
                                    <fieldset class="form-group col-md-12">
                                        <textarea placeholder="Nội dung" class="form-control form-control-lg" rows="5"></textarea>
                                    </fieldset>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-comment">Gửi liên hệ</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="select-maps col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.834609634787!2d105.77081187443484!3d21.039302687418004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b5534fb3bf%3A0x70d71b071349fa94!2sDevPro%20Vietnam!5e0!3m2!1sen!2s!4v1685627223124!5m2!1sen!2s" style="border:0; width:100%; height:450px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>