@{
	//import file Layout.cshtml vào đây
	Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<div class="col-md-12">  
    <div class="panel panel-primary">
        <div class="panel-heading">Add edit user</div>
        <div class="panel-body">
            @*sẽ bỏ các thông tin catche của trình duyệt luu vào ô textbox*@
        <form method="post" action="@ViewBag.action" autocomplete="off">
            <!-- rows -->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2">Name</div>
                <div class="col-md-10">
                     <input type="text" value="@if(Model != null){<text>@Model.Name</text>}" name="name" class="form-control" required>
                </div>
            </div>
            <!-- end rows -->
            <!-- rows -->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2">Email</div>
                <div class="col-md-10">
                    <input type="email" @if(Model != null){<text>desabled</text>}else{<text>required</text>} value="@if(Model != null){<text>@Model.Email</text>}" name="email" class="form-control">
                </div>
            </div>
            <!-- end rows -->
            <!-- rows -->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2">Password</div>
                <div class="col-md-10">
                    <input type="password" @if(Model != null){<text>placeholder="Không đổi password thì không nhập thông tin vào ô textbox này"</text>}else{<text>required</text>}  name="password" class="form-control">
                </div>
            </div>
            <!-- end rows -->
            <!-- rows -->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <input type="submit" value="Process" class="btn btn-primary">
                </div>
            </div>
            <!-- end rows -->
        </form>
        </div>
    </div>
</div>